.App {
  display: block;
  background: blue;
}

.header {
  background: gray;
  height: 250px;
}
.temp-photo {
  height: 200px;
  width: 200px;
  background: white;
  margin-top:10px;
}

.top-link {
  color: white;
}

.App-header {
}

.App-intro {
  font-size: large;
}

.btn-toolbar{
  text-align: center;
}
